pandas
numpy
prophet
matplotlib
joblib
flask
flask-sqlalchemy
flask-login
werkzeug
bcrypt
requests
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
gunicorn
python-dotenv
openpyxl